<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for p in publishers %}
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.email}}</td>
                <td>
                    <a href="{% url 'update_publisher' publisher_id=p.id %}" >Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

</body>
</html>